body {
  background-image: url("./images/hauntedHouseTwo.jpg");
  background-size: cover;
}

#title{
  position: absolute;
  top: 2%;
  left: 30%;
  width: 40%;
  font-family: Butcherman;
  text-align: center;
  margin: 0 auto;
  font-size: 58px;
  color: white;
}

#animations {
  position: absolute;
  width: 10%;
  height: 80%;
  border: solid black 2px;
  top: 10%;
  right: 2%;
}

.playfield {
  position: absolute;
  height: 60%;
  width: 80%;
  top: 22%;
  left: 5%;
  -webkit-perspective: 800;
}

.doors {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-perspective: 800;
}

#door1{
  position: absolute;
  height: 70%;
  width: 16%;
  top: 0;
  left: 2%;
  perspective: 500px;
  background: cover;
}

#img1 {
  height: 100%;
  width: 100%;
  /*for 3d styling  */
}

#door2 {
  position: absolute;
  height: 70%;
  width: 16%;
  top: 0;
  left: 42%;
  perspective: 500px;
}

#img2 {
  height: 100%;
  width: 100%;
}

#door3 {
  position: absolute;
  height: 70%;
  width: 16%;
  top: 0;
  right: 2%;
  perspective: 500px;
}

#img3 {
  height: 100%;
  width: 100%;
}

#door4 {
  position: absolute;
  height: 70%;
  width: 16%;
  bottom: 0;
  left: 22%;
  perspective: 500px;
}

#img4 {
  height: 100%;
  width: 100%;
}

#door5 {
  position: absolute;
  height: 70%;
  width: 16%;
  bottom: 0;
  right: 22%;
  perspective: 500px;
}

#img5 {
  height: 100%;
  width: 100%;
}

#timer {
  position: absolute;
  bottom: -5%;
  width: 40%;
  height: 10%;
  left: 30%;
  text-align: center;
  font-size: 50px;
  font-family: Butcherman;
  color: white;
}

.openDoor4s {
  animation: openDoor 4s;
}

.openDoor3s {
  animation: openDoor 3s;
}

.openDoor2s {
  animation: openDoor 2s;
}

.monster4s {
  background-image: url('images/creepy_face_1.jpg');
  background-size: cover;
}

.monster3s {
  background-image: url('images/creepy_face_2.png');
  background-size: cover;
}

.monster2s {
  background-image: url('images/creepy_face_3.png');
  background-size: cover;
}


/* Animation for door opening */
@keyframes openDoor {
  0%{
    transform-origin: right;
    transform: rotateY(0deg);
  }
  100%{
    transform-origin: right;
    transform: rotateY(81deg);
  }
}
/* Animations for doors */
